// 圖片類別 @each套用
.h- {
  &logo {
    background-image: $logo-sm;
    background-repeat: no-repeat;
    background-position: center center;
    width: 114px;
    height: 84px;
    @include min-breakpoint-md {
      background-image: $logo-lg;
      width: 219px;
      height: 100px;
    }
  }
  @each $name, $value in $banner {
    &banner-#{$name} {
      background-image: $value;
      background-size: cover;
      background-position: center center;
      height: 496px;
      width: 100%;
    }
  }
  &banner--sm {
    height: 250px;
    @include min-breakpoint-md {
      height: 460px;
    }
  }
  @each $name, $value in $picture {
    &picture-#{$name} {
      background-image: $value;
      background-size: cover;
      background-position: center center;
      position: relative;
    }
  }
}
