// 當使用writing-mode，要記得外層要下 vertical-content 限制最大高度
.h-vertical {
  &__content {
    max-height: 420px;
    line-height: 1.5;
    @include min-breakpoint-lg {
      line-height: 2;
      letter-spacing: -5px;
    }
  }
  &__lr {
    writing-mode: vertical-lr; //第二行垂直右邊
  }
  &__rl {
    writing-mode: vertical-rl; //第二行垂直左邊
  }
  &__sm {
    &-lr {
      @include min-breakpoint-sm {
        writing-mode: vertical-lr; //第二行垂直右邊
      }
    }
    &-rl {
      @include min-breakpoint-sm {
        writing-mode: vertical-rl; //第二行垂直右邊
      }
    }
  }
  &__md {
    &-lr {
      @include min-breakpoint-md {
        writing-mode: vertical-lr; //第二行垂直右邊
      }
    }
    &-rl {
      @include min-breakpoint-md {
        writing-mode: vertical-rl; //第二行垂直右邊
      }
    }
  }
  &__lg {
    &-lr {
      @include min-breakpoint-lg {
        writing-mode: vertical-lr; //第二行垂直右邊
      }
    }
    &-rl {
      @include min-breakpoint-lg {
        writing-mode: vertical-rl; //第二行垂直右邊
      }
    }
  }
}


