.p-cartRow {
  &__listGroup {
    display: flex;
    // desktop 用最外層推擠padding and border-bottom
    @include min-breakpoint-md {
      padding-top: 33px;
      padding-bottom: 20px;
      border-bottom: 1px solid theme-color("secondary");
    }
    & + & {
      @include min-breakpoint-md {
        padding-top: 20px;
      }
    }
  }
  // mobile 價格區塊推擠padding and border-top and bottom
  &__price {
    display: flex;
    border-top: 1px solid theme-color("secondary");
    border-bottom: 1px solid theme-color("secondary");
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include min-breakpoint-md {
      border-top: none;
      border-bottom: none;
    }
    & > .material-icons {
      padding: 12px 18px;
    }
  }
  // 限制最小寬高，mobile畫面設為 flex-grow-1 擴張區
  &__picture {
    // height: 106px;
    min-width: 110px;
    min-height: 106px;
    margin-right: 16px;
    @include min-breakpoint-md {
      min-height: 110px;
      margin-right: 39px;
    }
    &--sm {
      min-height: 80px;
      margin-right: 20px;
    }
  }
  &__content {
    // 預設文字區塊用來擴張與收縮
    flex: 1 1 auto;
  }
  // 調整p-cartRow框架上的input群組
  .input-group {
    width: 144px;
  }
  // 替換主題色
  .input-group-text {
    border: 1px solid theme-color("secondary");
  }
  .form-control {
    height: calc(1rem + 30px + 2px);
    padding: 13px 5px;
    color: theme-color("primary");
    border: 1px solid theme-color("secondary");
    border-left: none;
    border-right: none;
    text-align: center;
  }
  // 訂單明細
  .card {
    padding: 0px;
    margin-top: 2rem;
    @include min-breakpoint-lg {
      margin-top: 0;
    }
    &-body {
      padding: 0px 30px 16px;
      color: theme-color("primary");
      @include min-breakpoint-lg {
        padding: 0px 18px 16px;
        background-color: theme-color("primary");
        color: theme-color("secondary");
      }
    }
    &-title {
      font-size: 1.5rem;
      padding-top: 18px;
      padding-bottom: 18px;
      margin-bottom: 1rem;
      text-align: center;
      background-color: theme-color("secondary");
      @include min-breakpoint-lg {
        border-bottom: 1px solid theme-color("secondary");
        background-color: transparent;
      }
    }
  }
  .nav-link{
    font-size: 1.25rem;
    padding-top: .875rem;
    padding-bottom: .875rem;
    border: 1px solid theme-color("secondary");
    color: theme-color("secondary"); 
    transition: background-color 1s;
    &:hover{
     background-color: theme-color("secondary"); 
     color: theme-color("primary");
     font-weight: bold;
    }
  }
  .nav-link + .nav-link{
    margin-left: -1px;
  }
}

.btn-xl {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: .875rem;
  padding-bottom: .875rem;
  color: theme-color("primary");
}

.p-stepLine {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 153px;
  &__circle {
    height: $circle-size;
    width: $circle-size;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    border: 1px solid theme-color("info");
    background-color: theme-color("primary");
    &--active::after {
      content: "";
      position: absolute;
      left: 1px;
      top: 1px;
      right: 1px;
      bottom: 1px;
      border-radius: 50%;
      border-color: theme-color("secondary");
      background-color: theme-color("secondary");
    }
    &--finish {
      color: theme-color("primary");
      background-color: theme-color("secondary");
      border: none;
      font-size: 1rem;
      font-weight: bold;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 1px;
    background-color: theme-color("info");
  }
  &--banner{
    width: auto; 
    &::after{
      background-color: theme-color("primary");
    }
  }
}
