//圖片區
$logo-lg: url("../images/logo/logo-all-dark.svg");
$logo-sm: url("../images/logo/logotype-sm-dark.svg");
$banner: (
  1: url("https://bit.ly/2OhbMHr"),
  2: url("https://bit.ly/2xPn7Eq"),
  3: url("https://bit.ly/2zzAQS4"),
  4: url("https://images.unsplash.com/photo-1512484457149-266d165a4eca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=786581a33fd6c9343735655439ce2e5a&auto=format&fit=crop&w=1380&q=80"),
  5: url("https://bit.ly/2P7GhNd")
);  
$picture: (
  img-1: url("https://bit.ly/2R5tqwD"),
  img-2: url("https://bit.ly/2Dwoxd7"),
  img-3: url("https://bit.ly/2OUteif"),
);

//absolute 上下左右級距+each連動直接往下新增數值即可
$absolute-value: (
  0: 0,
  1: 10px,
  2: 15px,
  3: 20px,
  4: 25px,
  5: 30px,
  n1: -10px,
  n2: -15px,
  n3: -20px,
  n4: -25px,
  n5: -30px
);


//z-index 級距 數值有大至小，排序上到下
$z-index-value: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
);

//數字級距使用
//使用元件: filter 
$num-value: (
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px
);

$symbol-value: "NT$";
$symbol-margin: 5%;
$circle-size: 20px;

input::placeholder {
  color: theme-color("info") !important ;
}