// PingFangTC 資料夾字體檔連結

@font-face {
  font-family: "PingFangTC";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("PingFangTC-Thin"), url("../assuet/fonts/PingFangTC-Thin.woff");
}
@font-face {
  font-family: "PingFangTC";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("PingFangTC-Light"), url("../assuet/fonts/PingFangTC-Light.woff");
}
@font-face {
  font-family: "PingFangTC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PingFangTC"), url("../assuet/fonts/PingFangTC.woff");
}

@font-face {
  font-family: "PingFangTC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("PingFangTC-Medium"), url("../assuet/fonts/PingFangTC-Medium.woff");
}
@font-face {
  font-family: "PingFangTC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PingFangTC-Semibold"), url("../assuet/fonts/PingFangTC-Semibold.woff");
}
