.c-checkStatus {
  cursor: pointer;
  :checked {
    ~ .c-checkStatus__icon--show {
      display: block;
    }
    ~ .c-checkStatus__icon--hidden {
      display: none;
    }
  }
  &__icon--show,
  &__checkbox {
    display: none;
  }
}
